**/.classpath
**/.project
**/.settings
**/.vs
**/.vscode
**/.idea
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/Dockerfile*
**/.dockerignore
**/**/.dockerignore
**/**/bin
**/**/Debug
**/**/obj
**/**/Release
**/**/.vs
**/**/.vscode
**/**/.idea
**/**/node_modules
**/**/dist
**/**/build
**/**/logs
**/**/uploads